<!DOCTYPE HTML>
<html lang="pt-BR" />

<head>	
    <meta charset="utf-8" />
	<title>Cursos</title>
		
	<link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://lh3.googleusercontent.com/oRxALMOMtg0L7x26SbsHdSfxkCC8nFwilbU_vLh1bLPvZS3biPP7Vcn3AhVj0AFf3-Pa=w300" />

		

</head>

<body>

    <ul>
        <li><a class="active" href="index.html">Home</a></li>
		<li class="division"> | </li>
		<li><a href="courses.html">Cursos</a></li>
        <li style="float:right"><a href="login.html">Login</a></li>
    </ul>

<main>

    {% block conteudo %}  {% endblock %}

</main>

<footer>Contato: 11 3254-8300 - IMPACTA 2018 - Todos os direitos reservados.</footer>

</body>

</html>