{% extends 'base.html' %}

{% block conteudo %}

                    <p id="NomeMateria" >Banco de Dados</p>
 
                    <table>
                                <tr>
                                    <th>1º Semestre</th> 
                                </tr>
                                <tr>
                                    <td > <button class="BotaoSaibaMais">Lógica de Programação</button> </td>
                                </tr> 

                                <tr >
                                    <td> <button class="BotaoSaibaMais">Linguagem de Programação </button>  </td>
                                </tr> 

                                <tr>
                                    <td> <button class="BotaoSaibaMais">Fundamentos de Banco de Dados</button></td>
                                </tr> 

                                <tr>
                                    <td>  <button class="BotaoSaibaMais">IoT</button> </td>
                                </tr> 

                                <tr>
                                    <td>  <button class="BotaoSaibaMais">Matemática Aplicada</button> </td>
                                </tr> 

                                <tr>
                                    <td> <button class="BotaoSaibaMais">Comunicação e Expressão</button></td>
                                </tr> 

                    </table>    
        
                    <table>
                                <tr>
                                    <th>2º Semestre</th>
                                <tr>                     
                                    <td><button class="BotaoSaibaMais">Análise Exploratória de Dados</button></td>
                                </tr> 
                        
                                <tr>
                                    <td><button class="BotaoSaibaMais">Engenharia de Software</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Desenvolvimento de Sistemas</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Ambiente de Desenvolvimento</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Linguagem SQL</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Libras</button></td>
                                </tr> 
                    </table>
 
               
                    <table>
                                
                                <tr>
                                    <th>3º Semestre</th>
                                <tr>                     
                                    <td><button class="BotaoSaibaMais">Developing Database</button></td>
                                </tr> 
                        
                                <tr>
                                    <td><button class="BotaoSaibaMais">Estrutura de Dados</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Business Intelligence</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Data Analytics</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">OPE1</button></td>
                                </tr> 

                                <tr>
                                    <td></td>
                                </tr>
                    </table>
                


                    <table>
                                <tr>
                                    <th>4º Semestre</th>
                                <tr>                     
                                    <td><button class="BotaoSaibaMais">Administração de Banco de Dados</button></td>
                                </tr> 
                        
                                <tr>
                                    <td><button class="BotaoSaibaMais">Qualidade de Governança de Dados</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Segurança de Banco de Dados</button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">Computação Cognitiva </button></td>
                                </tr> 
                    
                                <tr>
                                    <td><button class="BotaoSaibaMais">OPE2</button></td>
                                </tr> 

                                <tr>
                                    <td><button class="BotaoSaibaMais">Legislação Ética</button></td>
                                </tr>
                    </table> 
     
{% endblock %}
