{% extends 'base.html' %}

{% block conteudo %}
        
         <p id="NomeMateria" >Redes de Computadores</p>
        
        
         <table>
                <tr>
                        <th>1º Semestre</th>
                    </tr>

                <tr>
                    <td> <button class="BotaoSaibaMais">Administração de Redes e Sistemas</button> </td>
                </tr> 

                <tr>
                    <td> <button class="BotaoSaibaMais">Arquitetura de Redes de Computadores</button>  </td>
                </tr> 

                <tr>
                    <td> <button class="BotaoSaibaMais">Cabeamento Estruturado</button></td>
                </tr> 

                <tr>
                    <td>  <button class="BotaoSaibaMais">Comunicação e Expressão</button> </td>
                </tr> 

                <tr>
                    <td>  <button class="BotaoSaibaMais">Fundamentos de Sistemas Operacionais</button> </td>
                </tr> 

                <tr>
                    <td> <button class="BotaoSaibaMais">Introdução à Internet das Coisas - IoT</button></td>
                </tr> 
                
         
                <tr>
                    <td><button class="BotaoSaibaMais"><a  href="DescricaoDisciplina.html" id="ajust_link">Programação para Redes</a></button></td>
                </tr>
         

                <tr>
                    <td></td>
                </tr>
        </table>    





        <table>
                <tr>
                    <th>2º Semestre</th>
                <tr>                     
                    <td><button class="BotaoSaibaMais">Administração de Redes e Sistemas Operacionais Livres</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Ambiente de Desenvolvimento e Operação - DevOps</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Gestão de Projetos</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Gestão de TI</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Oficina Projeto Empresa 1 - OPE1</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Redes de Longa Distância</button></td>
                </tr> 
                
                <tr>
                    <td><button class="BotaoSaibaMais">Routing</button></td>
                </tr> 
                
                <tr>
                    <td><button class="BotaoSaibaMais">Segurança em Redes e Infraestrutura</button></td>
                </tr> 
        </table>
        
        


        <table>
                <tr>
                    <th>3º Semestre</th>
                <tr>                     
                    <td><button class="BotaoSaibaMais">Comunicação de Dados</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Diagnóstico e Gerenciamento de Redes</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Legislação e Ética</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Oficina Projeto Empresa 2 - OPE2</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Optativa (Sociedade e Sustentabilidade / Língua Brasileira de Sinais - LIBRAS)</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Redes Convergentes</button></td>
                </tr>
                
                <tr>
                    <td><button class="BotaoSaibaMais">Segurança em Sistemas</button></td>
                </tr>
                <tr>
                    <td><button class="BotaoSaibaMais">Switching</button></td>
                </tr>
        </table>
                


        <table>
                <tr>
                    <th>4º Semestre</th>
                <tr>                     
                    <td><button class="BotaoSaibaMais">Computação em Nuvem</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Comunicações Móveis</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Auditoria e Controle de TI</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Oficina Projeto Empresa 3 - OPE3</button></td>
                </tr> 

                <tr>
                    <td><button class="BotaoSaibaMais">Redes IPV6</button></td>
                </tr> 

                <tr>
                        <td><button class="BotaoSaibaMais">Serviços de Redes de Computadores</button></td>
                </tr>
                
                <tr>
                    <td><button class="BotaoSaibaMais">Tópicos Especiais em Redes de Computadores</button></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
        </table> 

{% endblock %}