{% extends 'base.html' %}

{% block conteudo %}

    <div class="alignDiv">
        <fieldset>
            <legend><h2 class="h2Title"> Programação para Redes </h2></legend>
            <h2> SOBRE A DISCIPLINA</h2> 

            <p>Ao termino da disciplina o aluno deverá ter conhecimentos
            sobre a programação para ambientes de redes.
            Programas que se comunicam por uma rede de computadores,
            projeto do protocolo e arquitetura cliente-servidor.</p>
        </fieldset>
     </div>

     
{% endblock %}
