{% extends 'base.html' %}

{% block conteudo %}

    <div class="alignDiv">

        <fieldset>
            <legend><h2 class="h2Title"> Redes de Computadores</h2></legend>
            <h2>SOBRE O CURSO</h2> 
             <p>O curso prepara o aluno para elaborar, implantar e
             gerenciar projetos lógicos e físicos de redes de
             computadores locais e de longa distância. Redes
             Convergentes, Comunicações Óticas, Redes sem Fio
             e de Banda Larga estão entre as disciplinas da grade 
             curricular. Há também as ministradas nos laboratórios.</p>
             

            <h2>PERFIL PROFISSIONAL</h2>

              <p>Este profissional elabora, implanta, gerencia e mantém projetos
             lógicos e físicos de redes de computadores locais e de longa distância.
             Atua na conectividade entre sistemas heterogêneos, no diagnóstico e na
             solução de problemas relacionados à comunicação de dados, segurança de
             redes, avaliação de desempenho, configuração de serviços de rede e de 
             sistema de comunicação de dados.</p>

            <h2>MERCAD
                O DE TRABALHO</h2>

             <p>As oportunidades de trabalho estão distribuídas por áreas
             de TI de empresas públicas e privadas, empresas de telecomunicações
             e provedores de acesso. Mas o profissional pode atuar como autônomo.</p>


             <p><a href="cursos_redes.html">Confira a Grade Curricular. </a></p>
         </fieldset>



     </div>

{% endblock %}
