{% extends 'base.html' %}

{% block conteudo %}
 
<div class="cont" id="first">
	<p>Bolsa de estudos</p>
		
	<p> Plano Estendido Malakias <!-- Aqui  -->
		Está começando a carreira e precisa de ajudar para se preparar entre os melhores? 
		Nós te damos essa força pra 
		você se preocupar com o que mais importa, SUA CARREIRA!
		<br>
		Desenvolvemos o Plano Estendido Malakias, um suporte financeiro 
		para iniciar os estudos e realizar o sonho de concluir a graduação.
		COMO FUNCIONA <!-- Aqui  -->
		Não é um financiamento, com o Plano Estendido Malakias você pode estender o parcelamento 
		para depois da conclusão do curso,
		É a Malakias ajudando quem quer estudar em uma universidade altamente renomada 
		com um valor que cabe no bolso, sem 
		depender de burocracia, cobrança de juros ou fiador
	</p>
</div>



<div class="cont" >
	<p>Intercâmbio</p>
	
	<p>Fazer um intercâmbio é essencial para a experiência do (a) estudante.
		A convivência com outra cultura e o aprimoramento 
		de um idioma diferente enriquecem tanto pessoalmente quanto profissionalmente, já que a experiência gera autoconfiança 
		e conta muitos pontos no currículo, muitas vezes determinante nos processos seletivos.
		Para isso, a Universidade Malakias oferece para você cursos de extensão na Califórnia, Estados Unidos, para que o seu aprendizado
		aconteça além da sala de aula e você tenha uma formação completa a partir de experiências internacionais.
	</p>
</div>


<div class="cont" >
	<p>Notícias</p>
	
	<p>  INDIQUE UM AMIGO
		Envie para: <br> unimalakias@mala.com.br<br> as seguintes informações:
		A Universidade Malakias é nota 4 no ENADE/MEC SP em Análise e Desenvolvimento de Sistemas
		Aprenda a automatizar com arduino 
		Acesse a nossa Biblioteca com um acervo de mais de 10.000 livros e reserve o seu
	</p>
</div>

{% endblock %}


